<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Exercise.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Data Analysis With Python For fund

In [4]:
import pandas as pd

data = {
    "LearnerID": list(range(1, 101)),
    "Math": [
        65, 72, 80, 55, 90, 78, 84, 69, 73, 88,
        67, 71, 76, 82, 59, 91, 85, 77, 68, 74,
        70, 66, 79, 83, 88, 92, 61, 64, 75, 81,
        86, 78, 69, 72, 90, 94, 87, 68, 73, 80,
        65, 71, 77, 82, 58, 89, 84, 76, 67, 74,
        70, 66, 79, 83, 88, 91, 62, 64, 75, 81,
        86, 78, 69, 72, 90, 93, 87, 68, 73, 80,
        65, 71, 77, 82, 59, 89, 84, 76, 67, 74,
        70, 66, 79, 83, 88, 92, 61, 64, 75, 81
    ],
    "English": [
        70, 68, 75, 60, 85, 73, 78, 72, 69, 80,
        71, 67, 74, 79, 62, 88, 82, 76, 70, 73,
        68, 65, 77, 81, 84, 90, 63, 66, 74, 79,
        83, 75, 71, 68, 86, 89, 84, 69, 72, 78,
        70, 67, 75, 80, 61, 85, 82, 76, 69, 73,
        68, 65, 77, 81, 84, 88, 64, 66, 74, 79,
        83, 75, 71, 68, 86, 89, 84, 69, 72, 78,
        70, 67, 75, 80, 62, 85, 82, 76, 69, 73,
        68, 65, 77, 81, 84, 90, 63, 66, 74, 79
    ],
    "Science": [
        72, 75, 82, 65, 88, 80, 85, 74, 76, 90,
        73, 77, 81, 86, 68, 92, 89, 83, 72, 78,
        75, 70, 84, 87, 90, 94, 69, 71, 80, 85,
        88, 82, 74, 76, 91, 95, 90, 73, 77, 83,
        72, 75, 81, 86, 66, 89, 85, 82, 71, 78,
        75, 70, 84, 87, 90, 93, 68, 71, 80, 85,
        88, 82, 74, 76, 91, 94, 90, 73, 77, 83,
        72, 75, 81, 86, 67, 89, 85, 82, 71, 78,
        75, 70, 84, 87, 90, 94, 69, 71, 80, 85
    ],
    "History": [
        68, 70, 75, 60, 82, 74, 78, 71, 69, 85,
        70, 68, 73, 77, 62, 86, 80, 76, 68, 72,
        70, 66, 74, 78, 81, 88, 63, 65, 73, 77,
        80, 75, 71, 68, 84, 87, 82, 69, 72, 78,
        68, 67, 74, 79, 61, 83, 80, 76, 69, 72,
        70, 66, 74, 78, 81, 86, 64, 65, 73, 77,
        80, 75, 71, 68, 84, 87, 82, 69, 72, 78,
        68, 67, 74, 79, 62, 83, 80, 76, 69, 72,
        70, 66, 74, 78, 81, 88, 63, 65, 73, 77
    ],
    "ICT": [
        75, 78, 85, 70, 92, 84, 88, 79, 81, 95,
        77, 80, 83, 89, 72, 96, 91, 86, 78, 82,
        80, 75, 87, 90, 93, 98, 74, 76, 84, 89,
        91, 85, 79, 81, 94, 99, 93, 78, 80, 86,
        75, 78, 83, 89, 71, 92, 88, 85, 77, 82,
        80, 75, 87, 90, 93, 97, 74, 76, 84, 89,
        91, 85, 79, 81, 94, 98, 93, 78, 80, 86,
        75, 78, 83, 89, 72, 92, 88, 85, 77, 82,
        80, 75, 87, 90, 93, 98, 74, 76, 84, 89
    ]
}

df = pd.DataFrame(data)

ValueError: All arrays must be of the same length

In [ ]:
import pandas as pd

data = {
    "Scores": [
        20, 12, 12, 32, 12, 32, 1, 2, 12, 3,
        2, 12, 12, 32, 12, 32, 12, 3, 2, 1
    ]
}

df = pd.DataFrame(data)
print(df)

    Scores
0       20
1       12
2       12
3       32
4       12
5       32
6        1
7        2
8       12
9        3
10       2
11      12
12      12
13      32
14      12
15      32
16      12
17       3
18       2
19       1

In [5]:
df.head

<bound method NDFrame.head of     Scores
0       20
1       12
2       12
3       32
4       12
5       32
6        1
7        2
8       12
9        3
10       2
11      12
12      12
13      32
14      12
15      32
16      12
17       3
18       2
19       1>

In [7]:
df.describe()

          Scores
count  20.000000
mean   12.900000
std    11.125599
min     1.000000
25%     2.750000
50%    12.000000
75%    14.000000
max    32.000000

# add colummID

In [12]:
df ["LearnerID"] = range(1,len(df) + 1)
df = df[["LearnerID", "Scores"]]
print(df.head())

   LearnerID  Scores
0          1      20
1          2      12
2          3      12
3          4      32
4          5      12